

// Process Parameters:

// Process Parameters for Assemble_pairs_assemble_pairs:
params.Assemble_pairs_assemble_pairs.method =  "align"  //* @dropdown @options:"align, sequential, reference, join" @description:"Assembly method. Default align (See https://presto.readthedocs.io/ for more details.)"
params.Assemble_pairs_assemble_pairs.coord =  "presto"  //* @dropdown @options:"illumina, solexa, sra, 454, presto" @description:"The format of the sequence identifier which defines shared coordinate information across mate pairs. Default presto" @title:"General params"
params.Assemble_pairs_assemble_pairs.rc =  "tail"  //* @dropdown @options:"tail, head, both, none" @description: "Specify which read to reverse complement before stitching. Default tail"
params.Assemble_pairs_assemble_pairs.head_fields_R1 =  "CONSCOUNT"  //* @input @description:"Annotation fields to copy from R1 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT"
params.Assemble_pairs_assemble_pairs.head_fields_R2 =  "CONSCOUNT PRCONS"  //* @input @description:"Annotation fields to copy from R2 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT PRCONS"
params.Assemble_pairs_assemble_pairs.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. Default false" @tooltip:"Specify to output the failed sequences as well."
params.Assemble_pairs_assemble_pairs.fasta =  "false"  //* @checkbox @description:"Check the box to get fasta file as output. Default false"
params.Assemble_pairs_assemble_pairs.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.Assemble_pairs_assemble_pairs.alpha =  0.00001  //* @input @description:"Significance threshold for de novo paired-end assembly. Default 1e-05" @title:"De novo assembly arguments"
params.Assemble_pairs_assemble_pairs.maxerror =  0.3  //* @input @description:"Maximum allowable error rate for de novo assembly. Default 0.3"
params.Assemble_pairs_assemble_pairs.minlen =  8  //* @input @description:"Minimum sequence length to scan for overlap in de novo assembly. Default 8"
params.Assemble_pairs_assemble_pairs.maxlen =  1000  //* @input @description:"Maximum sequence length to scan for overlap in de novo assembly. Default 1000"
params.Assemble_pairs_assemble_pairs.scanrev =  "false"  //* @checkbox @description:"If specified, scan past the end of the tail sequence in de novo assembly to allow the head sequence to overhang the end of the tail sequence. Default false"
params.Assemble_pairs_assemble_pairs.minident =  0.5  //* @input @description:"Minimum identity of the assembled sequence required to call a valid reference guided assembly (between 0 and 1). Default 0.5"
params.Assemble_pairs_assemble_pairs.evalue =   0.00001  //* @input @description:"Minimum E-value for reference alignment for both the head and tail sequence. Default 1e-05"
params.Assemble_pairs_assemble_pairs.maxhits =  100  //* @input @description:"Maximum number of hits from the reference alignment to check for matching head and tail sequence assignments. Default 100"
params.Assemble_pairs_assemble_pairs.fill =  "false"  //* @checkbox @description:"Check the box to change the behavior of inserted characters when the head and tail sequences do not overlap during reference guided assembly. Default: False" @tolltip:"If specified, this will result in inserted of the V region reference sequence instead of a sequence of Ns in the non-overlapping region. Warning: you could end up making chimeric sequences by using this option."
params.Assemble_pairs_assemble_pairs.aligner =  "blastn"  //* @dropdown @options:"blastn, usearch" @description:"The local alignment tool to use. Must be one blastn (blast+ nucleotide) or usearch (ublast algorithm). Default blastn"
params.Assemble_pairs_assemble_pairs.// align_exec =  ""   //* @input @description:"The name or location of the aligner executable file (blastn or usearch). Defaults to the name specified by the aligner argument. Default: None"
params.Assemble_pairs_assemble_pairs.// dbexec =  ""   //* @input @description:"The name or location of the executable file that builds the reference database. This defaults to makeblastdb when blastn is specified to the aligner argument, and usearch when usearch is specified. Default None"
params.Assemble_pairs_assemble_pairs.gap =  0  //* @input @description:"Number of N characters to place between ends. Default 0" @title:"join assembly arguments"
params.Assemble_pairs_assemble_pairs.usearch_version =  "11.0.667"  //* @input @description:"The usearch version to download and run. Default 11.0.667"
params.Assemble_pairs_assemble_pairs.assemble_reference =  ''   //* @file @optional @description:"local path The assemble_reference file"

// Process Parameters for Assemble_pairs_parse_log_AP:
params.Assemble_pairs_parse_log_AP.field_to_parse =  "ID REFID LENGTH OVERLAP GAP ERROR IDENTITY PVALUE EVALUE1 EVALUE2" //* @input @description:"List of fields to collect, the fields should be seperated by space. Default ID REFID LENGTH OVERLAP GAP ERROR IDENTITY" @tooltip:"The sequence identifier may be specified using the hidden field name <ID>."

// Process Parameters for Assemble_pairs_ref_assemble_pairs:
params.Assemble_pairs_ref_assemble_pairs.method =  "align"  //* @dropdown @options:"align, sequential, reference, join" @description:"Assembly method. Default align (See https://presto.readthedocs.io/ for more details.)"
params.Assemble_pairs_ref_assemble_pairs.coord =  "presto"  //* @dropdown @options:"illumina, solexa, sra, 454, presto" @description:"The format of the sequence identifier which defines shared coordinate information across mate pairs. Default presto" @title:"General params"
params.Assemble_pairs_ref_assemble_pairs.rc =  "tail"  //* @dropdown @options:"tail, head, both, none" @description: "Specify which read to reverse complement before stitching. Default tail"
params.Assemble_pairs_ref_assemble_pairs.head_fields_R1 =  "CONSCOUNT"  //* @input @description:"Annotation fields to copy from R1 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT"
params.Assemble_pairs_ref_assemble_pairs.head_fields_R2 =  "CONSCOUNT PRCONS"  //* @input @description:"Annotation fields to copy from R2 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT PRCONS"
params.Assemble_pairs_ref_assemble_pairs.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. Default false" @tooltip:"Specify to output the failed sequences as well."
params.Assemble_pairs_ref_assemble_pairs.fasta =  "false"  //* @checkbox @description:"Check the box to get fasta file as output. Default false"
params.Assemble_pairs_ref_assemble_pairs.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.Assemble_pairs_ref_assemble_pairs.alpha =  0.00001  //* @input @description:"Significance threshold for de novo paired-end assembly. Default 1e-05" @title:"De novo assembly arguments"
params.Assemble_pairs_ref_assemble_pairs.maxerror =  0.3  //* @input @description:"Maximum allowable error rate for de novo assembly. Default 0.3"
params.Assemble_pairs_ref_assemble_pairs.minlen =  8  //* @input @description:"Minimum sequence length to scan for overlap in de novo assembly. Default 8"
params.Assemble_pairs_ref_assemble_pairs.maxlen =  1000  //* @input @description:"Maximum sequence length to scan for overlap in de novo assembly. Default 1000"
params.Assemble_pairs_ref_assemble_pairs.scanrev =  "false"  //* @checkbox @description:"If specified, scan past the end of the tail sequence in de novo assembly to allow the head sequence to overhang the end of the tail sequence. Default false"
params.Assemble_pairs_ref_assemble_pairs.minident =  0.5  //* @input @description:"Minimum identity of the assembled sequence required to call a valid reference guided assembly (between 0 and 1). Default 0.5"
params.Assemble_pairs_ref_assemble_pairs.evalue =   0.00001  //* @input @description:"Minimum E-value for reference alignment for both the head and tail sequence. Default 1e-05"
params.Assemble_pairs_ref_assemble_pairs.maxhits =  100  //* @input @description:"Maximum number of hits from the reference alignment to check for matching head and tail sequence assignments. Default 100"
params.Assemble_pairs_ref_assemble_pairs.fill =  "false"  //* @checkbox @description:"Check the box to change the behavior of inserted characters when the head and tail sequences do not overlap during reference guided assembly. Default: False" @tolltip:"If specified, this will result in inserted of the V region reference sequence instead of a sequence of Ns in the non-overlapping region. Warning: you could end up making chimeric sequences by using this option."
params.Assemble_pairs_ref_assemble_pairs.aligner =  "blastn"  //* @dropdown @options:"blastn, usearch" @description:"The local alignment tool to use. Must be one blastn (blast+ nucleotide) or usearch (ublast algorithm). Default blastn"
params.Assemble_pairs_ref_assemble_pairs.// align_exec =  ""   //* @input @description:"The name or location of the aligner executable file (blastn or usearch). Defaults to the name specified by the aligner argument. Default: None"
params.Assemble_pairs_ref_assemble_pairs.// dbexec =  ""   //* @input @description:"The name or location of the executable file that builds the reference database. This defaults to makeblastdb when blastn is specified to the aligner argument, and usearch when usearch is specified. Default None"
params.Assemble_pairs_ref_assemble_pairs.gap =  0  //* @input @description:"Number of N characters to place between ends. Default 0" @title:"join assembly arguments"
params.Assemble_pairs_ref_assemble_pairs.usearch_version =  "11.0.667"  //* @input @description:"The usearch version to download and run. Default 11.0.667"
params.Assemble_pairs_ref_assemble_pairs.assemble_reference =  ''   //* @file @optional @description:"local path The assemble_reference file"

// Process Parameters for Filter_Sequence_Quality_filter_seq_quality:
params.Filter_Sequence_Quality_filter_seq_quality.method =  "quality"  //* @dropdown @options:"quality, length, missing" @description: "Filtering operation" @tooltip:"See https://presto.readthedocs.io/ for more details." @title:"General parametrs"
params.Filter_Sequence_Quality_filter_seq_quality.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.Filter_Sequence_Quality_filter_seq_quality.q =  "20"  //* @input @description:"Discards reads where the Phred score below this threshold. Default value 20." @title:"Quality params"
params.Filter_Sequence_Quality_filter_seq_quality.n_length =  "35"  //* @input @description:"Minimum sequence length to retain. Default value 35." @title:"Length params"
params.Filter_Sequence_Quality_filter_seq_quality.n_missing =  "10"  //* @input @description:"Threshold for fraction of gap or N nucleotides. Default value 10." @title:"Missing params"

// Process Parameters for Assemble_pairs_ref_parse_log_AP:
params.Assemble_pairs_ref_parse_log_AP.field_to_parse =  "ID REFID LENGTH OVERLAP GAP ERROR IDENTITY PVALUE EVALUE1 EVALUE2" //* @input @description:"List of fields to collect, the fields should be seperated by space. Default ID REFID LENGTH OVERLAP GAP ERROR IDENTITY" @tooltip:"The sequence identifier may be specified using the hidden field name <ID>."

// Process Parameters for Filter_Sequence_Quality1_filter_seq_quality:
params.Filter_Sequence_Quality1_filter_seq_quality.method =  "quality"  //* @dropdown @options:"quality, length, missing" @description: "Filtering operation" @tooltip:"See https://presto.readthedocs.io/ for more details." @title:"General parametrs"
params.Filter_Sequence_Quality1_filter_seq_quality.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.Filter_Sequence_Quality1_filter_seq_quality.q =  "20"  //* @input @description:"Discards reads where the Phred score below this threshold. Default value 20." @title:"Quality params"
params.Filter_Sequence_Quality1_filter_seq_quality.n_length =  "35"  //* @input @description:"Minimum sequence length to retain. Default value 35." @title:"Length params"
params.Filter_Sequence_Quality1_filter_seq_quality.n_missing =  "10"  //* @input @description:"Threshold for fraction of gap or N nucleotides. Default value 10." @title:"Missing params"

// Pipeline Config:
$HOSTNAME='default'
// define a param for the sample name

params.sample_name = "sample_1" //* @input @description:"sample name"
params.nproc = 48 //* @input @description:"number of processes cores to use"

// define image container
//process.container = 'immcantation/suite:4.4.0'
//docker.enabled = true


process {
	
    container = 'immcantation/suite:4.4.0'
    
    withName: FastQC {
            container = 'biocontainers/fastqc:v0.11.9_cv8'
        }

}

params.container = process.container

profiles {

    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }
}